/*banner焦点轮播*/
#banner {
    width: 100%;
}
#banner img{
	width: 100%;
	height: auto;
} 
#banner .swiper-pagination span{
	background: #fff;
	opacity: 0.7;
}  
#banner .swiper-pagination span.swiper-pagination-bullet-active{
	background:#fff;
	opacity: 1;
	transform: scale(1.3);
}
.HomeModular{
	padding: 0 0.5rem;
}
.HomeModular a{
	display: block;
	width: 25%;
	float: left;
	text-align: center;
}
.HomeModular a span{
	display: inline-block;
	margin:0.8rem 0;
	border-radius: 50%;
	width: 4rem;
	height:4rem;
}
.HomeModular a span:before{
	color: #fff;
	font-size: 2.6rem;
	line-height: 4rem;
}
.HomeModular a:nth-child(1) span{
	background: #fc695f;	
}
.HomeModular a:nth-child(2) span{
	background: #f6c525;	
}
.HomeModular a:nth-child(2) span:before{
	font-size: 2.1rem;
}
.HomeModular a:nth-child(3) span{
	background: #798fe2;	
}
.HomeModular a:nth-child(4) span{
	background: #68d18e;	
}
.HomeModular a i{
	display:block;
	font-style: normal;
	font-size: 0.9053rem;
	color: #666;
}

.HpProductList{
	padding:0.5rem 1rem 0;
	clear: both;
}
.HpProduct_cont{
	padding: 0.5rem 0;
	overflow: hidden;
}
.HpProduct_cont img{
	float: left;
	width:76px;
	height: 64px;
}
.HpPro_right{
	margin-left:86px;
	position: relative;
	border-bottom: 1px solid #ccc;
	min-height: 64px;
	padding-bottom:0.1rem;
}
.HpPro_right h3{
	font-size: 1rem;
	color: #333;
	text-overflow: ellipsis;
	white-space:nowrap;
	overflow:hidden ;
	margin:0.2rem 3.6rem 0 0;
}
.HpPro_right p{
	font-size: 0.9rem;
	color: #999;
	margin:0.3rem 3.6rem 0 0;
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.HpPro_Btn{
	position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
.HpPro_Btn button{
	width: 3rem;
	padding: 0.2rem 0;
	text-align: center;
	border-radius: 13px;
	background: #009b63;
	color: #fff;
	border: none;
	display: block;
	font-size: 0.9rem;
}
.HpPro_Btn button.HpPro_Btn_buy{
	background: #f4860f;
	margin-top: 0.2rem;
}
.HpProduct_cont:last-child .HpPro_right{
	border-bottom: none;
} 







@media only screen and  (max-width: 380px) {
	.HomeModular a span{
		width: 3.6rem;
		height:3.6rem;
	}
	.HomeModular a span:before{
		line-height:3.6rem;
	}
}

@media only screen and  (max-width: 340px) {
	.HomeModular a span{
		width: 3.4rem;
		height:3.4rem;
	}
	.HomeModular a span:before{
		line-height:3.4rem;
		font-size: 2.4rem;
	}
}

/*----------在线商城页面样式-------------*/
.subNav{
	height:2.4rem;
	width:100%;
	background: #f6f6f6;
	overflow: hidden;
	position: fixed;
    top: 3.4rem;
    z-index: 99;
    box-sizing: border-box;
}
.subNav_menu{
	overflow: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}
.subNav_menu::-webkit-scrollbar {
    display: none;
}
.subNav_menu ul{
	margin-right: 2.2rem;
	white-space: nowrap;
}
.subNav_menu ul li{
	padding: 0 0.6rem;
    display: inline-block;
}
.subNav_menu ul li a{
	font-size: 0.91rem;
	color: #333;
	line-height: 2.4rem;
}
.subNav_menu ul li.subNav_curr a{
	font-size: 0.97rem;
	color: #e76c15;
}
.subNav_choose{
	display: block;
	position: relative;
	height: 100%;
	width:2.4rem;
	background: #f6f6f6;
	z-index: 2;
}
.subNav_choose span{
	display: block;
	width:100%;
	height: 100%;
	position: relative;
}
.subNav_choose span:before,
.subNav_choose span:after{
	content: "";
	display: block;
	width: 2px;
	height: 14px;
	background: #999;
	border-radius: 2px;
	position: absolute;
	left:50%;
	top:50%;
	margin: -7px 0 0 -1px;
}
.subNav_choose span:after{
	transform: rotate(90deg);
}
.main_Mall{
	position: relative;
}
.subNav_chooseCont{
	position: absolute;
	width:100%;
	z-index:100;
	background:#f4f5f6;
	height:100%;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.6s ease;
}
.chooseCont_close{
	width:2rem;
	height: 2rem;
	margin-right: 0.3rem;
	background: none;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	animation:close 1s  ;
}
.chooseCont_close span:before,
.chooseCont_close span:after{
	background: #222;
	height: 18px;
	margin: -9px 0 0 -1px;
}
@keyframes close{
    0%{
      transform:rotate(45deg);
     }
     100%{
       transform:rotate(405deg);
     }
}
@-webkit-keyframes close{
    0%{
      transform:rotate(45deg);
     }
     100%{
       transform:rotate(405deg);
     }
}
@-moz-keyframes close{
    0%{
      transform:rotate(45deg);
     }
     100%{
       transform:rotate(405deg);
     }
}
.chooseCont_text{
	margin-top: 2rem;
}
.chooseCont_text h3{
	font-size: 0.96rem;
	color: #333;
	margin:0 0.8rem;
}
.chooseCont_list{
	margin:0.8rem 0.7rem 0;
}
.chooseCont_list li{
	float: left;
	text-align: center;
	width: 25%;
	padding:0 0.1rem;
	margin-bottom: 0.2rem;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
	
}
.chooseCont_list li a{
	border:1px solid #e8e8e8;
	font-size:0.9rem;
	display: block;
	background:#fff;
	height: 1.8rem;
	line-height: 1.8rem;
	color: #333;
}
.banner_mall{
	margin-top: 2.2rem;
}


/*---------服务保障------------*/
.subNavSer{
	height:auto;
}
.subNavSer_list{
	position: relative;
	border-bottom: 1px solid #a5d4bd;
}
.subNavSer_list a{
	margin:0.3rem 0;
	border-right: 1px solid #009b63;
}
.subNavSer_list a:last-child{
	border-right: none;
}
.subNavSer_list a:last-child span{
	margin: 0;
}
.subNavSer_list a span:before{
	font-size: 1.4rem;
	float: left;
}
.subNavSer_list a span i{
	font-size: 0.9rem;
	display: inline;
	line-height: 1.4rem;
    margin-left: 0.2rem;
}
.main_Ser{
    padding-top: 2.42rem;
    background: #f2f2f2;
}
.SerProductList{
	/*padding:1.2rem 1rem 0.1rem;*/
	text-align: center;
}
.SerProductList>.swiper-slide{
	margin-top: 1rem;
}
/*.SerBox{
	border:1px solid #a5d4bd;
	border-radius: 5px;
	background:#fff;
	overflow: hidden;
	margin-bottom: 0.6rem;
}*/
.SerBox{
	border: 1px solid #a5d4bd;
    border-radius: 5px;
    background: #fff;
    width: 92%;
    margin:0 4% 0.8rem;
    display: inline-block;
    text-align: left;
}
.serTitle{
	padding:0.7rem 0.6rem;
	border-bottom: 1px solid #a5d4bd;
	font-size: 0.9rem;
	color: #666;
}
.serTitle span{
	color: #333;
	font-size: 0.85rem;
}
.serTitle a{
	color: #f19625;
}
.serTitle2{
	font-size: 0.96rem;
	color: #333;
}
.proInfo_cont{
	padding:0.8rem 0.6rem;
    overflow: hidden;
}
.proInfo_cont img{
	float:left;
	width:6.5rem;
	height:auto;
	border-radius: 5px;
	margin-top: 0.2rem;
}
.proInfo_tab{
	margin-left:7.1rem;
}
.proInfo_tab h3{
	font-size: 0.97rem;
	color: #333;
}
.proInfo_tab .tabInfo{
	overflow: hidden;
	padding: 0.3rem 0;
}
.proInfo_tab .tabInfo p{
	width: 30.333%;
	text-align: center;
	float: left;
	font-size: 0.8522rem;
	color: #666;
}
.proInfo_tab .tabInfo p span{
	display: block;
	color: #333;
}
.proInfo_tab .tabInfo p:last-child{
	width:39.33%;
}
.tabSubInfo{
	width: 70%;
}
.tabSubInfo p{
	font-size: 0.8422rem;
	color: #f19625;
}
.tabSubInfo p span{
	width:52%;
	display: block;
	float: left;
	text-align: center;
	color: #666;
}
.tabSubInfo p:last-child{
	color: #009b63;
}
.serInfoBtn{
    background: #009b63;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 0.3rem 0.8rem;
    font-size: 0.9rem;
    margin-top: 0.2rem;
}
.serParseBtn{
	font-size: 0.82rem;
	margin-top: -0.25rem;
}
.Myappoint li{
	font-size: 0.9rem;
    line-height: 1.6rem;
	color: #666;
}
.Myappoint li:before{
	content: "";
	display: block;
	width:0.42rem;
	height: 0.42rem;
	background: #009b63;
	border-radius: 50%;
    float: left;
    line-height: 1.6rem;
    margin: 0.6rem 0.4rem 0 0;
}
.Myappoint li label{
	min-width: 5rem;
	float: left;
}
.Myappoint li span{
	margin-left:5.1rem;
	color: #333;
	display: block;
}
.elavGrades .star{
	width: 20px;
	height: 20px;
	display: block;
	background-position: 0 0;
	margin: 0.2rem 0.2rem 0 0;
	float: left;
}
.elavGrades .star img{
	width:20px;
	height: 20px;
	margin: 0;
	border-radius: 0;
}

/*---------关联代理人----------------*/
.proInfo_agentCont{
	padding: 0 0.6rem;
}
.agentInfo{
	padding: 0 1rem;
}
.agentInfo li{
	border-bottom: 1px solid #ccc;
	line-height: 2.2rem;
}
.agentInfo li:before{
	display: none;
}
.agentInfo li:last-child{
	border-bottom: none;
}
.agentInfo li label{
	width: 50%;
}
@media only screen and  (max-width: 355px) {
	.proInfo_cont img{
		width:5.5rem;	
	}
	.proInfo_tab{
		margin-left:6.1rem;
	}
	.proInfo_tab h3{
		font-size: 0.93rem;
	}
	.proInfo_tab .tabInfo p{
		width: 32.333%;
	}
	.proInfo_tab .tabInfo p:last-child{
		width:35.33%;
	}
	.proInfo_tab .tabInfo p:last-child span{
		font-size: 0.7rem;
	}
	.tabSubInfo p{
		font-size: 0.8rem;
	}
	.tabSubInfo p span{
		width:55%;
	}
	.serInfoBtn{
		padding:0.22rem 0.6rem;
	}
}
















































