.ModularBox{
	background: #fff;
	padding: 0 1rem;
	overflow: hidden;
	margin:0.8rem 0;
}
.ModularTitle{
	padding:0.8rem 0;
	color: #009b63;
	font-size: 1rem;
    overflow: hidden;
}
.ModularTitle:before{
	content: "";
	display: block;
	width: 0.2rem;
	height: 1.2rem;
	border-radius: 0.5rem;
	background:#009b63 ;
    float: left;
    margin: 0.1rem 0.3rem 0 0;
}
.ModularTitle .OptContInfo{
    margin: 0.1rem 0 0 0.8rem;	
}
.DeInfoInput{
	height: 2.4rem;
	line-height: 2.4rem;
	padding: 0 0.5rem;
	border:1px solid #ccc;
	border-radius: 4px;
	font-size: 0.9rem;
	margin-bottom: 0.8rem;
	background: #fff;
	clear: both;
}
.DeInfoInput label{
	padding: 0 0.4rem 0 0;
	color: #666;
	float: left;
}
.DeInfoInput .DeInfo_text{
	border: none;
	height: 100%;
	font-size: 0.9rem;
	color: #333;
	float: left;
}
.DeInfoInput_Job{
	height: auto;
	overflow: hidden;
}
.DeInfoInput_Job textarea{
	resize: none;
    margin: 0.6rem 0;
}
.DeInfoInputSub{
	float: left;
	width: 42.33%;
	clear: inherit;
}
.InfoInputTwo .DeInfoInputSub:last-child{
	float: right;
}
#registerBtn .BigBtn{
	display: block;
}
#registerBtn .BigBtnTwo{
	display:none ;
}
/*下拉框begin*/
.btn-select { 
	position: relative; 
	display: inline-block; 
	width: 100%; 
	overflow:hidden;
	font-size: 0.9rem;
	color: #333; 
	border:1px solid #ccc; 
} 
.btn-select .cur-select {  
	position: absolute; 
	display: block; 
	width:100%;
	line-height:2.4rem;
	color: #333;
} 
.btn-select .cur-select:before{
	content:"";
	width:32px; 
	height:100%;
	display:block;
	float:right;
}
.btn-select .cur-select:after{
	content:"";
	width:0; 
	height:0;
	border-top:7px solid #999;
	border-left:7px solid transparent;
	border-right:7px solid transparent;
	display:block;
	position: absolute;
    top: 50%;
    margin-top: -3.5px;
    right: 7px;
}
.btn-select select { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	opacity: 0; 
	filter: alpha(opacity: 0;); 
	color: #333;
} 
.btn-select select option { 
	text-indent: 10px; 
} 
/*下拉框end*/
.InfoInputTwo,
.InfoInputthree{
	overflow: hidden;
}
.InfoInputthree .DeInfoInput{
	width:60%;
	float: left;
}
.InfoInputthree .serInfoBtn{
	width:30%;
	float: right;
	height: 2.4rem;
	line-height: 2.4rem;
	padding: 0;
	margin: 0;
}
.switchMode{
	color: #009B63;
	clear: both;
	display: block;
	font-size: 0.9rem;
	margin-bottom: 0.8rem;
	text-indent: 0.5rem;
}
.errorShow{
	color:#f19625;
	margin:0 0 0.8rem 0;
	font-size: 0.9rem;
	display: none;

}
.errorShow:before{
	content: "*";
}
.InfoInputUser .tishi{
	color:#f19625;
	background: none;
	width:7rem;
	text-align: right;
}
.DeInfoIphone{
	display:none;
}

/*图形验证码*/
.codeMain{
    width: 6rem;
    height: 2.455rem;
    background: #f6f6f6 url(../img/line.png) no-repeat center;
    float: right;
    font-size: 1.7rem;
    cursor: pointer;
    line-height: 2.455rem;
    text-align: center;
}
.code{
	display: inline-block;
}
.code span{
	color: #506d30;
	display: block;
	float: left;
	font-size: 1.8rem;
}
.code span:nth-child(2){
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	transform: rotate(-5deg);
}
.code span:nth-child(3){
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	transform: rotate(-30deg);
	margin-top: -5px;
}
.code span:nth-child(4){
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);
}
.code span:nth-child(5){
	margin-top: -3px;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);
}
.RegCodeMain{
	position: absolute;
    right: 0.2rem;
    top: 0.2rem;
    height: 2rem;
    border-radius: 0 4px 4px 0;
}
.RegCodeMain .code span{
	font-size: 1.5rem;
}
@media only screen and  (max-width: 330px) {
	.InfoInputUser .tishi{
    	font-size: 0.8123rem;
    	width: 6rem;
    }
    #checkCode{
    	width: 5rem;
    }
}

































