ahttp==1.1.1
aiohttp==3.8.3
aiohttp-session==2.12.0
aiomysql==0.1.1
aiosignal==1.3.1
aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-ecs==4.24.26
aliyun-python-sdk-kms==2.16.0
appdirs==1.4.4
astroid==2.12.13
astunparse==1.6.3
async-timeout==4.0.2
asyncio==3.4.3
attrs==22.1.0
Automat==22.10.0
autopep8==2.0.1
beautifulsoup4==4.11.1
black==22.12.0
Brotli==1.0.9
bs4==0.0.1
cachetools==5.2.0
cchardet==2.1.7
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.0.1
click==8.1.3
colorama==0.4.6
commonmark==0.9.1
constantly==15.1.0
contourpy==1.0.6
coverage==7.0.0
crcmod==1.7
cryptography==38.0.4
cssselect==1.2.0
cycler==0.11.0
defusedxml==0.7.1
dill==0.3.6
distlib==0.3.6
dnspython==2.2.1
exceptiongroup==1.0.4
fake-useragent==1.1.1
filelock==3.8.2
flake8==6.0.0
fonttools==4.38.0
frozenlist==1.3.3
greenlet==2.0.1
hyperlink==21.0.0
idna==3.4
importlib-metadata==5.2.0
importlib-resources==5.10.1
incremental==22.10.0
iniconfig==1.1.1
install==1.3.5
isort==5.11.3
itemadapter==0.7.0
itemloaders==1.0.6
jmespath==1.0.1
kiwisolver==1.4.4
lazy-object-proxy==1.8.0
lxml==4.9.2
matplotlib==3.6.2
mccabe==0.7.0
mock==4.0.3
multidict==6.0.3
mypy-extensions==0.4.3
mysql==0.0.3
mysql-connector==2.2.9
mysql-connector-python==8.0.31
mysqlclient==2.1.1
nls @ file:///D:/UserData/xinjun/Downloads/alibabacloud-nls-python-sdk-1.0.0
numpy==1.24.0
openpyxl==3.0.10
oss2==2.16.0
packaging==22.0
pandas==1.5.2
parse==1.19.0
parsel==1.7.0
pathspec==0.10.3
pep8==1.7.1
Pillow==9.3.0
platformdirs==2.6.0
pluggy==1.0.0
Protego==0.2.1
protobuf==4.21.12
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.10.0
pycparser==2.21
pycryptodome==3.16.0
PyDispatcher==2.0.6
pydub==0.25.1
pyee==9.0.4
pyflakes==3.0.1
pygame==2.1.2
Pygments==2.13.0
pylint==2.15.9
pymongo==4.3.3
PyMySQL==1.0.2
pyOpenSSL==22.1.0
pyparsing==3.0.9
pyppeteer==1.0.2
pyproject_api==1.2.1
PyQt5==5.15.7
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQt5-stubs==5.15.6.0
pyqt5-tools==5.15.4.3.2
pyquery==1.4.3
PySide2==5.15.2.1
PySnooper==1.1.1
pytest==7.2.0
pytest-cov==4.0.0
python-dateutil==2.8.2
pytz==2022.7
pywin32==305
QDarkStyle==3.1
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
QtPy==2.3.0
queuelib==1.6.2
redis==4.4.0
regex==2022.10.31
requests==2.28.1
requests-file==1.5.1
requests-html==0.10.0
rich==12.6.0
sanicdb==0.2
Scrapy==2.7.1
scrapy-redis==0.7.3
service-identity==21.1.0
shiboken2==5.15.2.1
simplejson==3.18.0
six==1.16.0
soupsieve==2.3.2.post1
sourceinspect==0.0.4
SQLAlchemy==1.4.45
taichi==1.3.0
tenacity==8.1.0
tldextract==3.4.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
tornado==6.2
tox==4.0.14
tqdm==4.64.1
Twisted==22.10.0
twisted-iocpsupport==1.0.2
typed-ast==1.5.4
typing_extensions==4.4.0
urllib3==1.26.13
virtualenv==20.17.1
w3lib==2.1.1
websockets==10.4
wrapt==1.14.1
wxPython==4.2.0
xlwings==0.28.6
yapf==0.32.0
yarl==1.8.2
zipp==3.11.0
zope.interface==5.5.2
